.input-img{
    border-radius:3px;
    border:1px solid #ddd;
    margin-bottom:5px;
    width:100%
}

.input-file{
    overflow: hidden;
    display:none;
}

.w300px{
    width: 300px;
}

.code{
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border: 0;
    position: relative;
    top: -2px;
    color: #c7254e;
    background-color: #f9f2f4;
}

#themes .page-title{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    color: #fff;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 15px;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    height: 100px;
    line-height: 43px;
    margin-top: 3px;
    padding-top: 28px;
    position: relative;
    padding-left: 75px;
    font-weight: 700;
    margin-right: 20px;
}

#themes .page-title:before{
    content: '';
    width: 110%;
    background: rgba(0, 0, 0, 0.04);
    position: absolute;
    top: -20px;
    z-index: 9;
    display: block;
    transform: rotate(2deg);
    height: 50px;
    left: 0px;
}

#themes .page-title:after {
    content: '';
    width: 110%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -24px;
    z-index: 9;
    display: block;
    transform: rotate(-2deg);
    height: 50px;
    right: 0px;
}

#themes .page-title > i{
    font-size: 36px;
    position: absolute;
    top: 30px;
    left: 25px;
    margin-right: 10px;
}

#themes .page-title small {
    margin-left: 10px;
    font-size:12px;
    color: rgba(255, 255, 255, 0.85);
}

#themes .theme{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    color: #76838f;
}

#themes .theme .theme-details{
    display: flex;
    padding: 15px;
}

#themes .theme .theme-thumb{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#themes .theme .theme-details .item{
    flex: 1;
    align-self: center;
}

#themes .theme .theme-details .item h5{
    font-size: 18px;
}

/* Upload */

.wrap-upload{
    padding:30px 15px;
    width: 100%;
    background: #fafafa;
    border: 2px dashed #C8CBCE;
    border-radius: 3px;
}

.upload-zone-icon{
    text-align: center;
    margin-bottom:15px;
}

.upload-zone-icon i{
    font-size:30px;
    color:#97A1A8;
}

.upload-zone-text{
    text-align: center;
    font-size:17px;
    margin-bottom:15px;
    color:#97A1A8;
}

.upload-zone-button{
    text-align: center;
}

.preview-images {
    width: 100%;
    text-align: left;
    margin-top:20px;
    padding-top: 20px;
    border-top: 1px dashed #C8CBCE;
}

.preview-images li {
    position: relative;
    display: inline-block;
    padding: 2px;
    max-width: 150px;
    cursor: move;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.06);
    margin: 0 15px 15px 0;
    border-radius: 5px;
}

.preview-images li span {
    background: #ddd;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d92329;
}

.preview-images li img {
    border-radius: 3px;
    width: 100%;
    border: 1px solid #e0e0e0;
}

input[type=file]{
    overflow: hidden;
}
/* End upload */

.dashbroad .panel.widget.bgimage{
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.dashbroad .panel.widget{
    padding: 35px 20px;
    border: 0;
    border-radius: 3px;
    -webkit-box-flex: 1;
    flex: 1;
    margin: 10px;
}

.dashbroad .panel{
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 5%);
}

.dashbroad .panel.widget p{
    font-size: 20px;
    font-size: 14px;
    line-height: 1.57142857;
    color: #fff;
    display: block;
    max-height: 65px;
    margin: 30px 0 0;
}

#analytics-dashboard{
    display: none;
}

.google-url{
    color: #158d02;
    font-style: normal;
}

.google-title{
    font-size: 20px;
    line-height: 1.3;
    color: #1a0dab;
    margin-top: 5px;
}

.google-description{
    max-width: 48em;
    color: #4d5156;
    line-height: 1.58;
    margin-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.zoom-primary .cr{
    border-color: var(--primary) !important;
}

.zoom-primary .cr .cr-icon{
    color: var(--primary) !important;
}

.cr{
    border-radius: 3px !important;
}

.ui-menu{
    background: #fff;
    padding: 10px;
    border: 1px solid #e0e0e0;
    max-width: 600px;
    max-height: 400px;
    overflow: scroll;
    z-index: 999999;
}

.ui-menu .search-item{
    margin-bottom: 5px;
    cursor: pointer;
}

.search-item{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.payment-method{
    margin-right: 10px;
}

.payment-method-pos label{
    margin-right: 10px;
}

.modal {
    z-index: 9999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.select2-container--open {
    z-index: 9999999
}