/* CUSTOM THEME */
:root {
    --primary: #3a7afe;
    --success: #009c66;
    --menu: #063fb0;
    --menu_active: #0c49c3;
}

@font-face {
    font-family: 'opensans';
    src: url(../fonts/opensans-light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'opensans';
    src: url(../fonts/opensans-regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'opensans';
    src: url(../fonts/opensans-bold.ttf);
    font-weight: 600;
}

.text-primary{
    color: var(--primary) !important
}

body{
    font-size:14px;
    font-family: "opensans";
    font-weight: 500;
}

table {
    font-size:14px;
}

.stableweb-table.table thead th{
    border-bottom: 0;
    border-top: 0;
    font-size:14px;
    font-weight: 600;
    vertical-align: middle;
}

.stableweb-table.center thead th{
    text-align: center;
}

.stableweb-table.center tbody td{
    text-align: center;
}

.stableweb-table.table tbody td{
    vertical-align: middle;
}

table td{
    white-space: normal;
}

.table-bordered td,
.table-bordered th{
    text-align: center;
    vertical-align: middle;
}

.main-body .page-wrapper{
    padding:10px;
}

.btn{
    padding: 6px 12px;
    text-transform: unset;
    font-weight: 500;
}

.btn i.icon-upload-cloud{
    font-size:20px;
    margin-right:0;
}

.bg-primary{
    padding: 7px 10px;
}

.alert{
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
}

.main-body .page-wrapper .page-header{
    margin-bottom: 10px;
}

.table-custom tr th{
    background: #00a9ac;
    color: #fff;
    border-bottom:0;
    font-weight:400;
}

.switchery-default{
    zoom: 0.6;
}

.btn{
    border-radius: 7px;
    margin-right: 5px;
}

.bg-success{
    background-color: var(--success) !important;
}

.bg-primary{
    background-color: var(--primary) !important;
}

.btn-primary, .wizard>.actions a{
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:active, .wizard>.actions a:active{
    background-color: var(--primary) !important;
    border-color: var(--primary);
    opacity: 0.7;
}

.btn-primary:hover, .wizard>.actions a:hover{
    background-color: var(--primary) !important;
    border-color: var(--primary);
    color: #fff !important;
    opacity: 0.7;
}

.btn-primary:focus, .wizard>.actions a:focus{
    background-color: var(--primary) !important;
    border-color: var(--primary);
    opacity: 0.7;
}

.page-item.active .page-link{
    background-color: var(--primary);
    border-color: var(--primary);
}

.main-body .page-wrapper .page-header-breadcrumb{
    float: left;
}

.btn i{
    margin: 0;
}

.pcoded .pcoded-navbar .pcoded-item>li>a>.pcoded-micon{
    padding: 0;
}

.pcoded .pcoded-navbar .pcoded-item>li>a>.pcoded-micon i{
    font-size: 19px;
}

.label{
    display: inline-block;
    line-height: 1.5;
    border-radius: 0.375rem;
    padding: 2px 7px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: 500;
}

.label-primary{
    background: linear-gradient(to right, var(--primary),  var(--primary));
}

.label-success{
    background: #0ac282;
}

.label-default{
    background: #aeaeae;
    background-color: #aeaeae !important;
}

.nowrap{
    white-space: nowrap;
}

.w100{
    width: 100% !important;
}

.panels-wells .panel-primary{
    border-color: var(--primary);
}

.form-control{
    border-radius: 6px;
    font-weight: 500;
    line-height: 1.4;
}

.form-control:focus{
    border-color: var(--primary);
}

.breadcrumb-title a{
    color: #004d9c;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    background-color: var(--primary);
    padding: 4px 15px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: var(--primary);
}

.select2-container--default .select2-search__field:focus{
    border-color: var(--primary);
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 5px;
    right: 8px;
}

.hidden{
    display: none;
}

.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move{
    border-radius: 8px;
}

.brighttheme.ui-pnotify-container{
    padding: 15px;
    border-radius: 8px;
}

.brighttheme .ui-pnotify-title{
    margin-bottom: 0;
}

.ui-pnotify-icon{
    margin-top: 5px;
    margin-right: 5px;
}

.pull-right{
    float:right !important;
}

.modal.modal-info .modal-content{
    border-radius: 7px;
    border: 0;
}

.modal.modal-info .modal-header{
    background-color: #22a7f0;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.prevent-event{
    pointer-events: none;
    opacity: 0.6;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li{
    padding: 10px 10px !important;
}

.navbar-wrapper .navbar-logo{
    position: relative;
    /* background-image: linear-gradient(270deg, #ee63ff 0%, #f5576c 100%); */
    background-image: linear-gradient(270deg, #063fb0 0%, #3db1ff 100%);
    overflow: hidden;
}

.navbar-wrapper .navbar-logo:before{
    content: '';
    width: 110%;
    background: rgb(0 0 0 / 8%);
    position: absolute;
    top: -10px;
    z-index: 9;
    display: block;
    transform: rotate(5deg);
    height: 26px;
    left: 0px;
}

.navbar-wrapper .navbar-logo:after{
    content: '';
    width: 120%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -12px;
    z-index: 9;
    display: block;
    transform: rotate(-5deg);
    height: 29px;
    left: 0px;
}

.md-tabs .nav-item .nav-link{
    text-transform: capitalize;
}

.md-tabs .nav-item.open .nav-link, .md-tabs .nav-item.open .nav-link:focus, .md-tabs .nav-item.open .nav-link:hover, .md-tabs .nav-link.active, .md-tabs .nav-link.active:focus, .md-tabs .nav-link.active:hover{
    color: var(--primary);
    border-bottom: 5px solid var(--primary);
}

.theme-loader {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 999999;
    top: 0;
  }
  
  .theme-loader .ball-scale {
    left: 50%;
    top: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
  }
  
  .theme-loader .ball-scale .contain {
    height: 100%;
    width: 100%;
  }
  
  .theme-loader .ball-scale .contain img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    -webkit-animation: round-rotate 1s ease-in-out infinite;
            animation: round-rotate 1s ease-in-out infinite;
  }
  
  @-webkit-keyframes round-rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes round-rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
.pointer-move{
    cursor: move;
}

.nav-tabs .nav-item{
    background: #fff;
}

.md-tabs .nav-item a{
    padding: 15px 0!important;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a{
    font-weight: 500;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a .pcoded-micon{
    display: inline-block;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu[subitem-icon="style1"] .pcoded-submenu li>a .pcoded-mtext:before{
    display: none;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item[item-border="true"][item-border-style="none"] li>a{
    padding: 10px 15px;
    font-size: 15px;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item li.pcoded-hasmenu>a:after{
    top: 8px;
}

.pcoded .pcoded-navbar .pcoded-item{
    padding-top: 10px;
    border-top: 3px solid #f55971;
}

.pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a{
    z-index: 10;
}

.header-navbar .navbar-wrapper .navbar-logo{
    text-transform: unset;
}

#nav, #nav .dropdown-menu, .bg-main{
    background-color: var(--primary);
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a .pcoded-micon{
    font-size: 15px;
}

.img-responsive{
    width: 100% !important;
}

.md-tabs .nav-item .nav-link i{
    font-size: 18px;
    margin-right: 10px;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"]{
    background: var(--menu);
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .main-menu{
    background-color: var(--menu);
}

.pcoded .pcoded-navbar[navbar-theme=theme1] .pcoded-item>li.pcoded-trigger>a{
    background: var(--menu_active);
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li.active>a{
    background: var(--menu_active);
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li.active:hover>a, 
.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li:hover>a{
    background: var(--menu_active);
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item .pcoded-hasmenu .pcoded-submenu li.active>a{
    background: var(--menu_active);
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu li>a{
    background: var(--menu_active);
}

.pcoded .pcoded-navbar[navbar-theme=theme1] .pcoded-item .pcoded-hasmenu .pcoded-submenu li:hover>a{
    background-color: var(--menu_active);
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.pcoded-trigger>a:before, 
.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active>a:before{
    border-left-color: #f55971 !important;
}

.form-group textarea:not(.tinymce){
    width: 100%;
    height: 95px;
}

/* Mini Menu / Localstorage Menu State */
.pcoded[theme-layout=vertical][vertical-placement=left][vertical-nav-type=offcanvas][vertical-effect=shrink] .pcoded-navbar{
    margin-left: 0;
}

.mini-menu .pcoded-navbar .main-menu{
    width: 55px !important;
}

.mini-menu .pcoded-navbar{
    width: 55px !important;
    margin-left: 0px !important;
}

.mini-menu .pcoded-content{
    margin-left: 55px !important;
}

.pcoded-wrapper:not(.mini-menu) .pcoded-content{
    margin-left: 240px !important;
}

.mini-menu .pcoded-navbar .pcoded-item>li>a .pcoded-mtext{
    display: none !important;
}

.mini-menu .pcoded-navbar .pcoded-item li.pcoded-hasmenu>a:after{
    display: none !important;
}

.mini-menu .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a>.pcoded-mtext{
    display: none !important;
}

.mini-menu .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a{
    padding-left: 20px !important;
}

/* End Mini Menu */

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color:var(--primary);
    border-color: var(--primary);
}

/* END CUSTOM THEME */